@font-face {
  font-family: "Limelight";
  src: local("Limelight"), url("./Limelight-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Courgette";
  src: local("Courgette"), url(./Courgette-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("./Lato-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
}
