html {
  margin: 0px;
}

header {
  background-color: #f9f7e8;
  width: 100%;
}

a {
  color: rgb(5, 5, 5);
  padding: 21px;
  text-decoration: none;
}

a:hover {
  color: #d52047;
}

.contairner {
  background-color: #d52047;
  width: 1440px;
  height: 486px;
  margin: 0px;
}

.title {
  width: 738px;
}
